version: "3"
services:

  debug:
    restart: always
    image: "tsaodai/marktrade:latest"
    container_name: marktrade_debug
    devices:
      - /dev/mem:/dev/mem
    environment:
      - base_url=debug
      - run_mode=debug
    ports:
      - "8103:8888"
    volumes:
      - /home/zhoufan/code/quantation:/share
      - /data/marktrade_debug:/home/tsaodai
      - /run/udev:/run/udev
    tty: true
    stdin_open: true
    privileged: true
    cap_add:
      - NET_ADMIN
    networks:
      rujia:
        ipv4_address: 192.168.16.3

#docker network create --subnet=192.168.16.0/24 rujia
networks:
  rujia:
    external: true
