# tickmine
pytest==7.1.2
zerorpc==0.6.3

# ticknature
statsmodels==0.13.2

# ctpview
pandas==1.4.3
plotly==5.15.0
protobuf==3.20.1
psutil==5.9.1
pyzmq==23.2.1
setuptools==39.0.1
streamlit==1.28.1
streamlit_authenticator==0.3.1
streamlit_autorefresh==1.0.1
